In [4]:
import pandas as pd
# from alpha_vantage.timeseries import TimeSeries
import requests
import json 
import time
API_key = '44R0O0ZHLA8X3XJO'

symbols = ['AAPL','MSFT','AMZN' ,'TSLA']
data = []

for symbol in symbols:
    
    params = {
    'function' : 'TIME_SERIES_DAILY_ADJUSTED',
    'symbol' : symbol,
#     'outputsize' : #full', #full timeframe data
    'outputsize' : 'compact', #limit to 100 rows
    'datatype' : 'json',
    'apikey' : API_key
    }

    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=' + symbol + '&apikey=44R0O0ZHLA8X3XJO'
    
#     time.sleep(13)  # pause request not to break the API / get blocked
    
    response = requests.get(url, params)
    data.append(pd.DataFrame(response.json()['Time Series (Daily)']))  
    # get each symbol's data to a list from the json file and transform it to a dataframe from the Time Series table

    
# data 

stock_data = pd.concat(data).T  # transpose 

stock_data = stock_data['1. open']  # filter to column

stock_data.columns = symbols

stock_data.reset_index(inplace = True)

stock_data = stock_data.melt(id_vars = 'index', var_name = ['Company'], value_name = 'Open Price')

In [5]:
stock_data

          index Company Open Price
0    2020-12-11    AAPL     122.43
1    2020-12-10    AAPL      120.5
2    2020-12-09    AAPL     124.53
3    2020-12-08    AAPL     124.37
4    2020-12-07    AAPL     122.31
..          ...     ...        ...
395  2020-07-29    TSLA     1501.0
396  2020-07-28    TSLA     1504.0
397  2020-07-27    TSLA     1435.0
398  2020-07-24    TSLA    1416.01
399  2020-07-23    TSLA    1678.95

[400 rows x 3 columns]

In [7]:
# from alpha_vantage.timeseries import TimeSeries
import requests
import json 
import time
API_key = '44R0O0ZHLA8X3XJO'

symbols = ['AAPL','MSFT','AMZN' ,'TSLA']
data = []

for symbol in symbols:
    
    params = {
    'function' : 'TIME_SERIES_DAILY_ADJUSTED',
    'symbol' : symbol,
#     'outputsize' : #full', #full timeframe data
    'outputsize' : 'compact', #limit to 100 rows
    'datatype' : 'json',
    'apikey' : API_key
    }

    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=' + symbol + '&apikey=44R0O0ZHLA8X3XJO'
    
#     time.sleep(13)  # pause request not to break the API / get blocked
    
    response = requests.get(url, params)
    data.append(pd.DataFrame(response.json()['Time Series (Daily)']))  
    # get each symbol's data to a list from the json file and transform it to a dataframe from the Time Series table

    
# data 

stock_data = pd.concat(data).T  # transpose 

stock_data = stock_data['2. high']  # filter to column

stock_data.columns = symbols

stock_data.reset_index(inplace = True)

stock_data_high = stock_data.melt(id_vars = 'index', var_name = ['Company'], value_name = 'High Price')

In [8]:
stock_data_high

          index Company High Price
0    2020-12-11    AAPL     122.76
1    2020-12-10    AAPL     123.87
2    2020-12-09    AAPL     125.95
3    2020-12-08    AAPL     124.98
4    2020-12-07    AAPL     124.57
..          ...     ...        ...
395  2020-07-29    TSLA    1534.81
396  2020-07-28    TSLA     1564.7
397  2020-07-27    TSLA    1547.94
398  2020-07-24    TSLA     1465.0
399  2020-07-23    TSLA     1689.0

[400 rows x 3 columns]

In [9]:
# from alpha_vantage.timeseries import TimeSeries
import requests
import json 
import time
API_key = '44R0O0ZHLA8X3XJO'

symbols = ['AAPL','MSFT','AMZN' ,'TSLA']
data = []

for symbol in symbols:
    
    params = {
    'function' : 'TIME_SERIES_DAILY_ADJUSTED',
    'symbol' : symbol,
#     'outputsize' : #full', #full timeframe data
    'outputsize' : 'compact', #limit to 100 rows
    'datatype' : 'json',
    'apikey' : API_key
    }

    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=' + symbol + '&apikey=44R0O0ZHLA8X3XJO'
    
#     time.sleep(13)  # pause request not to break the API / get blocked
    
    response = requests.get(url, params)
    data.append(pd.DataFrame(response.json()['Time Series (Daily)']))  
    # get each symbol's data to a list from the json file and transform it to a dataframe from the Time Series table

    
# data 

stock_data = pd.concat(data).T  # transpose 

stock_data = stock_data['3. low']  # filter to column

stock_data.columns = symbols

stock_data.reset_index(inplace = True)

stock_data_low = stock_data.melt(id_vars = 'index', var_name = ['Company'], value_name = 'low Price')

In [10]:
stock_data_low

          index Company  low Price
0    2020-12-11    AAPL     120.55
1    2020-12-10    AAPL     120.15
2    2020-12-09    AAPL      121.0
3    2020-12-08    AAPL     123.09
4    2020-12-07    AAPL     122.25
..          ...     ...        ...
395  2020-07-29    TSLA     1487.0
396  2020-07-28    TSLA    1474.42
397  2020-07-27    TSLA  1413.0003
398  2020-07-24    TSLA  1366.5401
399  2020-07-23    TSLA    1480.77

[400 rows x 3 columns]

In [13]:
symbols = ['AAPL','MSFT','AMZN' ,'TSLA']
data = []

for symbol in symbols:
    
    params = {
    'function' : 'TIME_SERIES_DAILY_ADJUSTED',
    'symbol' : symbol,
#     'outputsize' : #full', #full timeframe data
    'outputsize' : 'compact', #limit to 100 rows
    'datatype' : 'json',
    'apikey' : API_key
    }

    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=' + symbol + '&apikey=44R0O0ZHLA8X3XJO'
    
#     time.sleep(13)  # pause request not to break the API / get blocked
    
    response = requests.get(url, params)
    data.append(pd.DataFrame(response.json()['Time Series (Daily)']))  
    # get each symbol's data to a list from the json file and transform it to a dataframe from the Time Series table

    
# data 

stock_data = pd.concat(data).T  # transpose 

stock_data = stock_data['6. volume']  # filter to column

stock_data.columns = symbols

stock_data.reset_index(inplace = True)

stock_data_volume = stock_data.melt(id_vars = 'index', var_name = ['Company'], value_name = 'Volume')

In [14]:
stock_data_volume

          index Company     Volume
0    2020-12-11    AAPL   86939786
1    2020-12-10    AAPL   81312170
2    2020-12-09    AAPL  115089193
3    2020-12-08    AAPL   82225512
4    2020-12-07    AAPL   86711990
..          ...     ...        ...
395  2020-07-29    TSLA    9426893
396  2020-07-28    TSLA   15808700
397  2020-07-27    TSLA   16048669
398  2020-07-24    TSLA   19396616
399  2020-07-23    TSLA   24328504

[400 rows x 3 columns]

In [25]:
stock_data_volume.to_csv('/Documents/GitHub/API_stockexchange/stock_data_volume.csv')
stock_data_low.to_csv('/Documents/GitHub/API_stockexchange/stock_data_low.csv')
stock_data_high.to_csv('/Documents/GitHub/API_stockexchange/stock_data_high.csv')
stock_data.to_csv('/Documents/GitHub/API_stockexchange/stock_data_open.csv')


# Documents/GitHub/API_stockexchange/

FileNotFoundError: [Errno 2] No such file or directory: '/Documents/GitHub/API_stockexchange/stock_data_volume.csv'